:root {
    --text-colour: #041D37;
    --background-colour: #F8F8F8;
    --primary-colour: #4D2C73;
    --primary-colour-shadow: #9078AD;
    --secondary-colour: #4A9130;
    --secondary-colour-shadow: #A5DA91;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--text-colour);
    font-size: calc(14px + 0.3vw);
    background: linear-gradient(to left top, var(--secondary-colour-shadow), var(--primary-colour-shadow));
}

.myLibrary {
    display: grid;
    grid-template-rows: minmax(min-content, 1fr) minmax(600px, 6fr);
}

.header {
    display: flex;
    align-items: center;
}

h1 {
    margin: 20px;
    padding-right: 100px;
    font-size: 4rem;
    text-shadow: 2px 2px var(--background-colour);
}

button[id="showForm"] {
    font-size: 4rem;
    font-weight: bold;
    padding: 10px 30px;
    color: var(--text-colour);
    background-color: var(--background-colour);
}

button:hover {
    color: var(--background-colour);
    background-color: var(--text-colour);
}

::backdrop {
    background-color: var(--secondary-colour-shadow);
    opacity: 0.75;
}

:modal {
    background-color: var(--background-colour);
    border: 2px solid var(--primary-colour);
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px var(--primary-colour-shadow);
}

form {
    display: flex;
    flex-direction: column;
}

input,
select,
button {
    appearance: none;
    font-family: inherit;
    font-size: 100%;
    color: inherit;
    padding: 5px 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid var(--primary-colour);
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px var(--primary-colour-shadow);
}

input:focus,
select:focus {
    outline: none;
    border: 2px solid var(--secondary-colour);
    box-shadow: 2px 2px 2px 2px var(--secondary-colour-shadow);
}

#bookshelf {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min-content, 400px));
    grid-template-rows: repeat(auto-fit, minmax(min-content, 300px));
    gap: 10px;
}

#bookshelf div {
    padding: 10px;
    margin: 20px;
    border: 2px solid var(--primary-colour);
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px var(--primary-colour-shadow);
    background-color: var(--background-colour);
}